
<div class="row" sty>
  <div class="col-md-6" >
    <p-card header="Rastreo de posiciones satelitales" class="custom-card">
        <div class="flex flex-wrap gap-3" style="display: flex; justify-content: space-between;">
          <div *ngFor="let empresa of empresas" class="flex align-items-center">
            <p-radioButton
              name="empresa"
              [value]="empresa.code"
              [(ngModel)]="selectedEmpresa"
              inputId="{{ 'ingredient' + empresa.code }}"
            ></p-radioButton>
            <label [for]="'ingredient' + empresa.code" class="ml-2">{{ empresa.name }}</label>
          </div>
        </div>

        <div class="row" style="display: flex; align-items: center;">
          <form [formGroup]="formGroup">
            <p-selectButton [options]="stateOptions" formControlName="value" optionLabel="label" optionValue="value"></p-selectButton>
          </form>

          <span class="p-float-label" style="margin-top: 20px; margin-bottom: 20px;">
            <input #numeroViajeInput id="float-input" pKeyFilter="int" class="w-full" size="30" pInputText>
            <label for="float-input">Busqueda por V(Viaje) o P(Pedido)</label>
            <p-button icon="pi pi-search" severity="success" (click)="MarcarPosicion()"></p-button>
          </span>
        </div>

        <p-steps [model]="items" [readonly]="true" [(activeIndex)]="activeIndex"></p-steps>

        <p-accordion class="w-full">
          <p-accordionTab >
            <ng-template pTemplate="header" (click)="toggleDetails()">
              <div class="flex align-items-center">
                <i class="pi pi-cog ml-2 ml-2"></i>
                <span class="vertical-align-middle"> Detalles</span>
              </div>
            </ng-template>
            <ng-template pTemplate="content">  <!-- Contenido que se mostrará/ocultará -->
              <div *ngIf="mostrarDetalles">
                <span class="p-float-label" style="margin-top: 20px;">
                  <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="sistema" />
                  <label for="float-input">Sistema Origen</label>
                </span>

                <span class="p-float-label" style="margin-top: 20px;">
                  <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="shipment" />
                  <label for="float-input">Shipment</label>
                </span>

                <span class="p-float-label" style="margin-top: 20px;">
                  <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="unidad" />
                  <label for="float-input">Unidad</label>
                </span>

                <span class="p-float-label" style="margin-top: 20px;">
                  <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="fechaIniViaje" />
                  <label for="float-input">Fecha Inicio</label>
                </span>

                <span class="p-float-label" style="margin-top: 20px;">
                  <input id="disabled-input" type="text" pInputText [disabled]="true" [(ngModel)]="fechaFinViaje" />
                  <label for="float-input">Fecha Fin</label>
                </span>
              </div>
            </ng-template>
          </p-accordionTab>
        </p-accordion>
    </p-card>
  </div>



  <div class="col-md-8">
    <div class="card flex justify-content-center">
      <google-map [center]="positions[0]" [width]="'100%'" [height]="'600px'">

        <!-- Traza las lineas desde el Inicio al Fin sobre el mapa -->
        <map-polyline
          [path]="positions"
          [options]="{ strokeColor: '#FF0000', strokeWeight: 7 }"
        >
        </map-polyline>

        <!-- Marca el Punto de Inicio sobre el mapa -->
        <map-marker
        *ngIf="positions.length > 0"
        [position]="positions[0]"
        label="A"
        title="Punto de Inicio"
        class="marker-a"
        >
        </map-marker>

        <!-- Marca el Punto Final sobre el mapa -->
        <map-marker
        *ngIf="positions.length > 1"
        [position]="positions[positions.length - 1]"
        label="B"
        title="Punto Final"
        class="marker-b"
        >
        </map-marker>

      </google-map>
    </div>
  </div>

</div>

<p-toast position="bottom-center" key="bc"></p-toast>
